<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Contract</title>
    <link rel="stylesheet" href="/stylesheets/newContract.css">
</head>
<body>
    
    <div id="content">
        <div id='data'>
        <h2>Fill the data for your new contract:</h2>
            <form action='/addContract' method='POST'>
                title:<input name='title' type="text" /><br/>
                Coorporation:<input name='company' type="text" /><br/>
                year price:<input name='year_price' type="text" /><br/>
                <input type='submit' value='Add cont'/>
            </form>
        </div>

    </div>

</body>
</html>