<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    
    <div id='content'>
        <div id='header'>
            <div class='btn add-contract'><a href='/addContract'>+ contract</a></div>
            <div class='btn user-name'><p style='text-align:center;'> <%= user.username%> </p></div>
            <div class='btn log-out'><a href='/LogOut'>Log-out</a></div>
        </div>
        <div id='content-body'>
            <div id='all-contracts'>
            <% for (contract of contracts) { %>
                <div class='contract' data-id='<%= contract.id %>'>
                    <div class='contract-option edit'>edit</div>
                    <div class='contract-option delete'>delete</div>
                    <h4 class='title'><%= contract.title %></h4>
                </div>
            <% } %>
                
            </div>
        </div>
    </div>

</body>
</html>