<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log-IN</title>
    <link rel="stylesheet" href="/stylesheets/index.css">


</head>
<body>
    <div id="log-content">
        <div class="log-content-params">
            <form action="/home" method="POST">
                <h1>Start your login journey:</h1>
                <input class='log' name='email' type='email' placeholder="enter email"/>
                <input class='log' name='password' type='password' placeholder="password"/>
                <input class='log-submit'type="submit" value="log-in"/>
            </form>
        </div>
        <div class='register'>
            <a href='/register'>register</a>
        </div>
        <span style='color:white;text-align:center;display: block;margin-top: -25px;'> <%= message %> </span>
    </div>
</body>
</html>