<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <style>
        body{
            padding: 0px;
            margin: 0px;
            background:rgb(90,150,130);
        }

        #log-content{
        background:rgb(200,100,120);
        width:600px;
        height:350px;
        margin:100px auto;
        color: #f4f4f4;    
        border-radius:20px;
        border:2px solid #f4f4f4;
        }
        h1{
            font-size: 25px;
        }
        .log-content-params{
        text-align:center;
        margin:auto;
        width:300px;
        height:200px;
        padding-top:30px;
        }

        .log{
        display:block;
        width:300px;
        height:50px;
        font-size:20px
        }
        .log-submit{
        text-align:center;
        margin:auto;
        display:block;
        width:150px;
        height:70px;
        border-radius: 3px;
        padding:10px;
        background: rgb(50,150,130);
        font-size:20px;
        color:white;
        }
    </style>
</head>
<body>
    <div id="log-content">
        <div class="log-content-params">
            <form>
            <h1>Register your journey:</h1>
            <input class='log' type='email' placeholder="enter email"/>
            <input class='log' type='password' placeholder="enter email"/>
            <input class='log-submit'type="submit" value="register"/>
            </form>
        </div>
    </div>
</body>
</html>