<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div id="log-content">
        <div class="log-content-params">
            <form action="/register" method="POST">
            <h1>Register your journey:</h1>
            <input class='log' name='email' type='email' placeholder="enter email"/>
            <input class='log' name='password' type='password' placeholder="enter password"/>
            <input class='log-submit'type="submit" value="register"/>
            </form>
            <span style='color:white'> <%= message %> </span>
        </div>
    </div>
</body>
</html>